header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px; 
}
.logopf {
  width: 180%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

.subscribe form {
  display: flex;
}

.subscribe input {
  padding: 5px;
}

.subscribe button {
  background-color: rgb(
    181,
    87,
    243
  ); 
  color: #fff;
  border: none;
  padding: 5px 10px;
}

/* Estilos adicionales según tus preferencias */
