body {
  margin: 0%;
}
header {
  background: radial-gradient(circle, rgb(128, 65, 230), rgb(34, 138, 223));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box {
  width: 150px;
  height: 150px;
  background-image:url("/src/assets/images/logo.png");
  background-position: center;
}
.logo {
  width: 330px;
  height: 100px;
  margin-left: 20%;
}
.barranav {
  display: flex;
  align-items: center;
  height: 35vh;
  margin-left: 15%;
}
ul {
  display: inline;
  list-style: none;
}

.navbar li {
  display: inline;
  align-items: center;
  margin-right: 18px;
}
nav a {
  text-decoration: underline;
  color: rgb(179, 175, 245);
  font-size: xx-large;
}
