.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
  body{background-image:url(/src/assets/images/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}

