
.Section {
   display: flex;
   flex-direction: row;  
   align-items: center;
   justify-content: center;  
   align-content: center;
   gap: 100px;
   
}

.AllRightsReserved {
   color: white;
  
   font-size: 30px;
   display: flex;
   align-items: center;
   text-align: center;
}

.SocialNetworks {
   display: flex;
   justify-content: flex-end;
   gap: 20px;
}

.SocialFacebook {
   height: 44px;
   width: 44px;  
   background-color: #F9BC60;
   border-radius: 100%;
   border: black solid 1px;
    
}

.SocialInstagram {
   height: 42px;
   width: 42px;
   background-color:#F6BFBF;
   border-radius: 100%;
   border: black solid 1px;
  
}

.SocialMail {
   height: 42px;
   width: 42px;
   background-color: #E16162; 
   border-radius: 100%;
   border: black solid 1px;
 }

.SocialYoutube {
   height: 42px;
   width: 42px; 
   background-color: white; 
   border-radius: 100%;
   border: black solid 1px;
}

.Social {
   margin: 10%;
   margin-left: 5%;
   height: 38px;
   width: 38px;
} 