#redes{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#payment-method{
    position: relative;
    width: 28%;
    margin: auto;
    padding: 1%;
    
}
.payment{
    position: relative;
    width: 20%;
    display: inline-block;
    padding: 3%;
    margin-left: 5%;
    cursor: pointer;
}
.payment:hover{
    opacity: 0.5;
}
.redes_p{
    font-weight: bold;
    color: #2A4883;
    padding: 1%;

}
#redes_sociales{
    position: relative;
    width: 23%;
    float: right;
    margin-top: -7%;
    padding: 1%;
}
.iconos_redes{
    width: 12%;
    padding: 1%;
    cursor: pointer;
}
.iconos_redes:hover {
    opacity: 0.5;
}