body{background-image:url(/src/assets/images/1665878715574-noauth.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.band, .bandBW {
    flex-basis: 48%;
    margin-bottom: 10px;
}

.band img, .bandBW img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}